@{
    ViewBag.Title = "Mustache";
}

<script id="template" type="x-tmpl-mustache">

    <div id="selection_content">
        {{#entries}}
            <div id="{{parentId}}">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped" id="{{ tableId }}">
                            <tr>
                                <th>Col 1</th><th>Col 2</th>
                            </tr>
                            {{#tData}}
                                <tr>
                                    <td>{{field1}}</td>
                                    <td>{{field2}}</td>
                                </tr>
                            {{/tData}}
                        </table>    
                    </div>
                    <div class="col-md-6">
                        <div id="{{ chartId }}">
                            Some content
                        </div>
                    </div>
                </div>
            </div>
        {{/entries}}
    </div>

</script>

<div class="container">
    <h2>Mustache</h2>

    <div id="mustache1">
    
    </div>
    <br/><br/>
    <div id="mustache2">
    
    </div>
</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/mustache.js"></script>
<script>
    $(function() {
        var view = {
            title: "Joe",
            calc: function () {
                return 2 + 4;
            }
        };

        var output = Mustache.render("{{title}} spends {{calc}}", view);

        $('#mustache1').html(output);

        var template = $('#template').html();
        Mustache.parse(template);
        var rendered = Mustache.render(template, {
            entries:
            [
                { parentId: "pId1", tableId: "tId1", chartId: "cId1", tData: [{ field1: 'data 1', field2: 'data 2' }, { field1: 'data 3', field2: 'data 4' }] },
                { parentId: "pId2", tableId: "tId2", chartId: "cId2", tData: [{ field1: 'more 1', field2: 'more 2' }, { field1: 'more 3', field2: 'more 4' }] }
            ]
        });
        $('#mustache2').html(rendered);
    })
</script>
