@{
    ViewBag.Title = "Tutorial";
}

<div class="container">
    <h2>Tutorial</h2>

    <div ng-app="BasicModule">
        <a href="#contact">Contact</a>
        <br/><br/>
        <div ng-view>
        
        </div>
    </div>
</div>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script>
    var module = angular.module("BasicModule", ['ngRoute']);

    module.controller("ContactController", function($scope, $http) {
        $scope.name = "";
        $scope.email = "";
        $scope.content = "";

        $scope.submitForm = function() {
            alert('Submitting the form ' + $scope.content);
        };
    });

    module.config(["$routeProvider", function($routeProvider) {
        $routeProvider.when('/contact', {
            templateUrl: '/templates/contact.html',
            controller: 'ContactController'
        });
    }]);
</script>
